.footer {
    // margin: 250px -39.6px 0 -39.6px;
    background-color: $footer-color;
    padding: 50px 0;


    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 0 60rem;
    }

    &-content {

        &-menu {
            display: flex;
            align-items: center;
            gap: 0 40px;

            &-item {
                &-link {
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    line-height: calc(22 / 16);
                    transition: .3s ease-in-out;
                }

                &:hover &-link {
                    opacity: 0.7;
                }
            }
        }

        &-logo {
            padding: 30px 0;
        }

        &-copyright {
            display: block;
            font-size: 16px;
            line-height: calc(22 / 16);
            font-weight: 400;
            padding: 30px 0;
            color: white;
        }
    }

    &-contact {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            gap: 0 10px;
            margin: 10px 0;

            span {
                display: block;
                font-size: 16px;
                line-height: calc(22 / 16);
                color: white;
            }
        }

        &-social {
            &-menu {
                display: flex;
                align-items: center;
                gap: 0 15px;
                margin: 10px 0;
            }
        }
    }
}